.mainContainer {
  width: 60%;
  background-color: #a8ffbe;
  margin-left: 20%;
  margin-top: 10vh;
  border: 10px solid white;
  border-radius: 10px;
}

.header {
  background-color: #ffeba8;
  text-align: center;
  padding: 2%;
}

.gitLink {
  text-decoration: none;
  color: black;
}

h1 {
  padding: 2%;
  border-bottom: 5px solid black;
}

h3 {
  margin: 2%;
}

.formContainer {
  text-align: center;
  margin-top: 1%;
  margin-bottom: 2%;
}

.formContainer > h4 {
  padding: 1%;
}

input {
  width: 25%;
}

.todoContainer {
  background-color: white;
  width: 60%;
  margin-left: 20%;
  padding: 2%;
  margin-bottom: 5%;
}

.todo {
  text-align: center;
  font-weight: bold;
  padding: 1%;
}
